.title {
  // border: 1px solid black;
  padding: 15px;
  color:#0E0000 ;
}

.booking-recap {
  border: 1px solid grey;
  border-radius: 10px;
  border: solid 1px;
  padding: 5px;
  display: -ms-inline-grid;
  padding: 10px;
  margin-top: 10px;
  width: 29%;
}

.slide {
  border-radius: 7px;
  overflow: hidden;
}

.message {
  border: 1px solid grey;
  padding: 15px;
  margin: 50px
}

.booking-actions {
  border: 1px solid grey;
  border-radius: 10px;
  border: solid 1px;
  padding: 5px;
  display: -ms-inline-grid;
  padding: 10px;
  margin-top: 10px;
  width: 69%
}

.carroussel {
  position: relative;
  .title {
    position: absolute;
    top: 89px;
    left: 106px;
    color: white;
  }
}

.booking-footer {
  display: flex;
  gap: 2%;
}
