 <% case booking.status %>
 <% when "pending" %>
  <span class="badge bg-warning text-dark" style="font-size: 18px;"><%= booking.status %></span>
 <% when "accepted" %>
  <span class="badge bg-success" style="font-size: 18px;"><%= booking.status %></span>
 <% when "refused" %>
  <span class="badge bg-danger" style="font-size: 18px;"><%= booking.status %></span>
 <% when "passed" %>
  <span class="badge bg-light text-dark" style="font-size: 18px;"><%= booking.status %></span>
<% end %>
