<div class="footer">
  <div class="footer-links">
    <a href="#">Terms</a>
    <a href="#">Sitemap</a>
    <a href="#">Privacy</a>
    <a href="#">F.A.Q.</a>
  </div>
  <div class="footer-copyright">
    This footer was made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
