.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
  border-radius: 8px;
}

.mapbox-map {
  width: 100%;
  height: 100%;
  top: 81px;
  left: 0px;
  z-index: 5;
  visibility: visible;
  position: fixed !important;
  opacity: 1;
  transition: 0.3s linear;
}

.hide-map {
  visibility: hidden;
  opacity: 0;
  top: 1500px;
  transition: 0.3s ease-in;
}

.cta-map {
  z-index: 10;
  background-color: $primary;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
}

.div-cta-map {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed !important;
  align-items: center;
  bottom: 60px;
  z-index: 10;
  width: 100%;
  left: 0px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: 20px 20px 0 0 !important;
}


.map-product {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  margin-top: 20px;
}

.map-booking {
  width: 100%;
  height: 755px;
  border-radius: 8px;
}
