.product-card {
  font-weight: 300;
  font-size: 15px;
}

.product-image{
  border-radius: 10px;
  overflow: hidden;
}

.product-description {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: #333333;

  .product-name {
    font-weight: 600;
  }
}
