.search-form {
  border: 1px solid #dee2e6c4;
  padding: 5px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 0px 7px #ced4da5e;
}

.search-bar {
  border: none;
  margin-left: 10px;
  width: 350px;

  &:focus {
    outline: none;
    background-color: #ffffff00;
  }
}

.search-button {
  background-color: #58CC02;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.search-button i {
  padding: 10px;
  font-size: 13px;
  color: white;
}
