<div class="gradient-categ">
  <div class="d-flex flex-row justify-content-between py-3 overflow-scroll" style="scrollbar-width:none">
    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/c8bba3ed-34c0-464a-8e6e-27574d20e4d2.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/6b639c8d-cf9b-41fb-91a0-91af9d7677cc.jpg" alt="">
      <p class="m-0" >Golf</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/8b44f770-7156-4c7b-b4d3-d92549c8652f.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/957f8022-dfd7-426c-99fd-77ed792f6d7a.jpg" alt="">
      <p class="m-0" >Surf</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/a4634ca6-1407-4864-ab97-6e141967d782.jpg" alt="">
      <p class="m-0" >Lacs</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/f0c5ca0f-5aa0-4fe5-b38d-654264bacddf.jpg" alt="">
      <p class="m-0" >Bowling</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/6ad4bd95-f086-437d-97e3-14d12155ddfe.jpg" alt="">
      <p class="m-0" >Montagne</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/687a8682-68b3-4f21-8d71-3c3aef6c1110.jpg" alt="">
      <p class="m-0" >Voile</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/10ce1091-c854-40f3-a2fb-defc2995bcaf.jpg" alt="">
      <p class="m-0" >Plage</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="">
      <p class="m-0" >Piscine</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/c8bba3ed-34c0-464a-8e6e-27574d20e4d2.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/6b639c8d-cf9b-41fb-91a0-91af9d7677cc.jpg" alt="">
      <p class="m-0" >Golf</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/8b44f770-7156-4c7b-b4d3-d92549c8652f.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

      <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/c8bba3ed-34c0-464a-8e6e-27574d20e4d2.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/6b639c8d-cf9b-41fb-91a0-91af9d7677cc.jpg" alt="">
      <p class="m-0" >Golf</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/8b44f770-7156-4c7b-b4d3-d92549c8652f.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/f0c5ca0f-5aa0-4fe5-b38d-654264bacddf.jpg" alt="">
      <p class="m-0" >Bowling</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/6ad4bd95-f086-437d-97e3-14d12155ddfe.jpg" alt="">
      <p class="m-0" >Montagne</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/687a8682-68b3-4f21-8d71-3c3aef6c1110.jpg" alt="">
      <p class="m-0" >Voile</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/10ce1091-c854-40f3-a2fb-defc2995bcaf.jpg" alt="">
      <p class="m-0" >Plage</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/3fb523a0-b622-4368-8142-b5e03df7549b.jpg" alt="">
      <p class="m-0" >Piscine</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/c8bba3ed-34c0-464a-8e6e-27574d20e4d2.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/6b639c8d-cf9b-41fb-91a0-91af9d7677cc.jpg" alt="">
      <p class="m-0" >Golf</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/8b44f770-7156-4c7b-b4d3-d92549c8652f.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

      <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/757deeaa-c78f-488f-992b-d3b1ecc06fc9.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/c8bba3ed-34c0-464a-8e6e-27574d20e4d2.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/6b639c8d-cf9b-41fb-91a0-91af9d7677cc.jpg" alt="">
      <p class="m-0" >Golf</p>
    </div>

    <div class="bnb-passive">
      <input class="radio-categ" type="radio" name="category">
      <img class="bnb-img" src="https://a0.muscache.com/pictures/8b44f770-7156-4c7b-b4d3-d92549c8652f.jpg" alt="">
      <p class="m-0" >Ski</p>
    </div>
  </div>
</div>
