  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Edit a product</h3>
          <%= render 'shared/form', product: @product %>
      </div>
    </div>
  </div>
</div>
